.claude/
.vscode/
src/
tmp/
out/
node_modules/@types/
node_modules/typescript/
node_modules/eslint/
node_modules/@typescript-eslint/
node_modules/@vscode/test-electron/
node_modules/mocha/
node_modules/glob/
node_modules/esbuild/
esbuild.config.js
tsconfig.json
tsconfig.test.json
**/*.ts
**/*.map
!dist/**
**/.gitignore
**/.eslintrc*
**/jest.config*
